@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

$pri-color: #e73f8c;
$blue: #007cb0;
$light-blue: #d2dfe5;

html, body {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;

    &.loaded {
        .preloader {
        display:none;
       }
        .page-content {
        display: block;
       }
    }
}
a{
  color: #fff;
  &:hover{
      text-decoration: none;
  }  
}

.reg-content{
  position: relative;
  min-height: 100vh;
  .left-art{
    position: absolute;
    top: 0;
    left: 0;
    img{
      width: 100%;
      height: auto;
    }
  }
  h5{
    color: #6f6f6f;
    text-align: center;
  }
}

#mobile-portrait {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    display: none;
}
.center-device {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.5);
    height: 50vh;
    max-height: 250px;
}
@media only screen and (min-device-width: 0px) and (max-device-width: 815px) {
    #content{
        #bottom-menu{
            height: 50px !important;
    ul{
        li{
            a{
                font-size: 0.8em !important;
                padding: 5px !important;
            }
        }
    }
    .ml-auto{
        margin-left: 5px !important;
    }
        }
    }

    

    #helpline{
        font-size: 0.8em !important;
        right: 10px !important;
    }
}
@media only screen and (min-device-width: 0px) and (max-device-width: 815px) and (orientation:portrait) {
        #mobile-portrait {
            display: block !important;
        }
    }

form{
  color: #333;
  label{
      text-transform:uppercase;
      font-weight:500;
      display:block;
  }
  .input{
      background-color: #ffffff;
  border-radius: 16px;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  font-size:1em;
  &:focus{
      outline: 0;
  }
  }
  [type=submit]{
      border:0;
      border-radius:0;
  }
  [type=checkbox]{
      margin-right:5px;
  }
  .btn-submit{
      background-image:url(../img/btn-bg.jpg);
      width:96px;
      height:41px;
      color:#fff;
  }
  .divider{
      border-top: 2px solid #e4e4e4;
  }
  .lower{
      text-transform:capitalize !important;
  }
  .form-cancel{
      img{
          vertical-align:top;
      }
          
  }
  sup.req{
      color: #c00;
  }
  
  .btn-register{
      background-image:url(../img/btn-register.jpg);
      width:110px;
      height:30px;
  }
  .btn-submit{
      background-image:url(../img/btn-submit.jpg);
      width:96px;
      height:41px;
  }
  #btnLogin{
    background-image:url(../img/btn-login.png);
      width:94px;
      height:30px;
      text-align: center;
      color: #fff;
  }
}

.trans-bg{
    padding: 50px 25px;
    background-color: rgba(0,0,0,0.25);
    margin-top: 25px;
}

.option{
    font-weight: 700;
}


.preloader {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 999999;
}
.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}
.loader--dot:first-child {
    background-color: #8cc759;
    animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
}
.loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}
.loader--text:after {
    content: "Loading";
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    color: #333333;
}
    @keyframes loader {
    15% {
    transform: translateX(0);
}
    45% {
    transform: translateX(230px);
}
    65% {
    transform: translateX(230px);
}
    95% {
    transform: translateX(0);
}
}
@keyframes loading-text {
    0% {
    content: "Loading";
}
    25% {
    content: "Loading.";
}
    50% {
    content: "Loading..";
}
    75% {
    content: "Loading...";
}
}        

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
	}
}

#content {
    position: relative;
    height: fit-content;    
    max-height: calc(100vh);
    overflow: hidden;
    
    #header-menu{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-color: rgba(255,255,255,0.8);
        z-index: 1;
        a{
            color:#424242;
            font-size: 1em;
        }
        ul#attendance{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                margin-bottom: 0;
                font-size: 0.75em;
                padding: 0 10px;
                
            }
        }

    }
    #bottom-menu{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-color: #fff;
        .bottom-nav{
            padding:4px 0;
        }
        
        ul{
            li{
                /*padding:0 10px;*/
                
                i, a{
                    display:block;
                    color:#424242;
                    font-size: 1em;
                    text-align: center;
                    padding: 5px 10px;
                    &:hover{
                        text-decoration: none;
                    }
                }
                i{
                    position: relative;
                    #chat-message{
                        position:absolute;
                        top: 0;
                        right: 0px;
                        font-size: 0.75em;
                    }
                }
            }
        }
    }
     #bg {
        position: relative;
        &.photobooth{
            min-height: 650px;
        }
        img {
        width: 100%;
        height:auto;
        }
        .indicator{
            background-color: #c00;
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0%;
            border-radius: 50%;
            box-shadow: 0 0 0 0 #000;
            transform: translate(-50%, -50%);
            animation: pulse 2s infinite;
            &.d-10{
                width: 10px;
                height: 10px;
                bottom: -5px;
                /*top: calc(100% - 5px) !important;*/

            }
            &.d-6{
                width: 6px;
                height: 6px;
                bottom: -3px;
                /*top: calc(100% - 3px) !important;*/
            }
            &.d-8{
                width: 8px;
                height: 8px;
                bottom: -4px;
                /*top: calc(100% - 3px) !important;*/
            }
            &.d-12{
                width: 12px;
                height: 12px;
                bottom: -6px;
                /*top: calc(100% - 3px) !important;*/
            }
        }
        area{
            outline: none;
            &:focus{
                outline: none;
            }
        }
        

        #helpdesk{
            position: absolute;
            top: 46.5%;
    left: 44.6%;
    width: 9.0%;
    height: 3.1%;
        }
        #lobbyVideo{
            position: absolute;
            top: 28%;
            left: 43.3%;
            width: 12.7%;
            height: 10.1%;
        }
        #enterDWI{
            position: absolute;
            top: 16.5%;
            left: 21.9%;
            width: 10.2%;
            height: 2.3%;
        }
        #enterLTA{
            position: absolute;
            top: 16.5%;
            left: 67.3%;
            width: 10.2%;
            height: 2.3%;
        }
        #enterPAM{
            position: absolute;
            top: 34.0%;
            left: 28.7%;
            width: 9.5%;
            height: 2.3%;
        }
        #enterSF{
            position: absolute;
            top: 34.0%;
            left: 61.4%;
            width: 9.6%;
            height: 2.3%;
        }
        
        #enterAudi{
            position: absolute;
            top: 14.8%;
            left: 45.4%;
            width: 9.3%;
            height: 2.5%;
        }
        #enterLounge{
            position: absolute;
            top: 31.2%;
            left: 59.2%;
            width: 6.1%;
            height: 2.9%;
        }

        
        #exhVideo{
            position: absolute;
            top: 17%;
            left: 42.1%;
            width: 14.9%;
            height: 16.7%;
        }

        #showAgenda{
            position: absolute;
            top: 40%;
            left: 9.7%;
            width: 17.0%;
            height: 12.7%;
        }
        
        
        #loungeBatchmate{
            position: absolute;
            top: 36.7%;
            left: 58.1%;
            width: 4.0%;
            height: 4.0%;
            .indicator{
                bottom:0;
            }
        }
        #shareEcard{
            position: absolute;
            top: 36.7%;
            left: 39.8%;
            width: 4.0%;
            height: 4.0%;
            .indicator{
                bottom:0;
            }
        }
        #webcast-area {
            position: absolute;
            /* background-color: #000; */
            top: 23.9%;
			left: 24.5%;
			width: 50.7%;
			height: 51.4%;
            #player{
                width: 100%;
                height: 100%;
            }
        }
       
    }
    #back-button{
        background-color: #E91E63;
        position: absolute;
        padding: 5px 10px;
        border-radius: 4px;
        top: 200px;
        left: 15px;
        a, a:hover{
            color: #fff;
        }
    }
    #ask-ques, #take-poll{
        background-color:#000;
        position:absolute;
        top:40%;
        left:0;
        width:150px;
        border-radius:0 6px 6px 0;
        text-align:center;
        box-shadow:0px 0px 6px 3px rgba(255,255,255,0.12);
        a{
            display:block;
            color:#fff;
            font-size:1.2em;
            text-transform:uppercase;
            width:100%;
            height:100%;
            padding:15px 10px;
        }
        i{
            display:block;margin-bottom:5px
        }
    }
    #ask-ques, #take-poll{
        left: auto !important;
        right: 0;
        top: 40%;
        border-radius:6px 0 0 6px !important;
    }
    #take-poll{
        top: calc(40% + 100px);
    }
    .panel{
        position: absolute;
        top: 0px;
        right: -300px;
        width: 300px;
        height:calc(100vh - 60px);
        cursor: pointer;
        background-color: #adb5bd;
        font-size:1em;
        transition: all 0.5s;
        
        .panel-heading{
            background-color:#212529;
            text-transform:uppercase;
            padding:5px 10px;
            position:relative;
            font-size: 1.25em;
            color: #EEEEEE;
            .close{
                position:absolute;
                right:10px;
                top:7px;
                    font-size: 1em;
                    color: #ccc;
                    background-color: #c00;
                    padding: 2px 4px 3px 4px;
            }
        }
        .panel-content{
            padding:20px;
        }
        &.show{
            right:0;
        }
    }
#photobooth{
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 450px;
    color: #fff;

    #my_camera{
        /*width: 454px;
        height: 341px;*/
        border: 0px solid black;
        position:absolute;
        top:39px;
        left:88px;
       }
       #template{
           background-image:url(../../upload/template.png);
           background-repeat:no-repeat;
           width: 685px;
    height: 337px;
    position: relative;
    margin: 10px 0;
           
       }
       #actions{
           position:absolute;
           top:10px;
           right:10px;
           width:150px;
           text-align:center;
       }
       #results{
           position:absolute;
        top:39px;
        left:88px;
       }
       .btn-booth{
           
           border: 0;
           color: #fff;
           text-transform: uppercase;
           padding: 10px 20px;
           border-radius: 3px;
           &.take{
               background-color: #1e7e34;
           }
           &.save{
               background-color: #007bff;
           }
       }
       #download-image{
         margin-top:5px;  
         a#link{
             color: #333;
             padding: 5px 20px;
             margin-bottom: 5px;
             text-transform: uppercase;
             border-radius: 3px;
             i{
                 margin-left:5px;
             }
         }
       }
}
.form-check-input{
    margin-left: 0;
}




}

/*Modals*/
.modal{
    outline: 0;
    &#attendees, &#confAgenda    {
        .modal-dialog{
            width: 90% !important;
            max-width: 800px !important;
            height: 80vh;
            max-height: 600px;
        }
    }
    .search-area{
        form{
            .input{
                width:100%;
            }
        }
    }
    .modal-dialog{
        width: 80%;
        max-width: 650px;
        height: 70vh;
        max-height: 600px;
        

        .modal-content{
            border: 0;
            .modal-header{
                background-color: #072d45;
                h5.modal-title{
                    margin: 0;
                    font-size: 1.25em;
                    color: #fff;
                }
                .close{
                    padding: 1rem 1rem;
                    margin: -1rem -1rem -1rem auto;
                    background-color: #c00;
                    color: #fff;
                    &:focus{
                        outline: none !important;
                    }
                }
            }
            .modal-body{
                padding: 0em;
                color: #616161;
                background-color: #F5F5F5;
                /*min-height: 50vh;*/

                iframe{
                    width: 100%;
                    height: 100%;
                    
                }

                .search-area{
                    background-color: #e0e0e0;
                    color: #333;
                    padding:5px 10px;

                    button{
                        border: 1px solid #ccc;
                        padding: 4px 12px;
                        margin: 0 5px 0 0;
                        border-radius: 4px;
                    }
                }
                #attendeeList{
                    border: 1px solid #e0e0e0;
                    padding: 0;
                    .attendee{

                        padding: 10px 15px;
                        border-bottom: 1px solid #e0e0e0;
                        position: relative;

                        .attendee-actions{
                            position: absolute;
                            top: 7px;
                            right: 10px;
                        button{
                            border: none;
                            background-color: #BDBDBD;
                            padding: 4px 8px;
                            color: #EEEEEE;
                        }        
                        }
                        
                        }

                    
                }
                .content{
                    /* min-height: 30vh; */
                    max-height: 65vh;
                    overflow-y: auto;
                    overflow-x: hidden;
                    padding: 15px;
                    width: 95%;
                    margin: 10px auto;

                    a{
                        color: $blue;
                    }

                    &.b-case-panel{
                        margin: 40px 20px;

                        ul{
                            margin:0;
                            padding: 0;
                            list-style: none;
                            li{
                                border-bottom: 1px solid #E0E0E0;
                                padding: 5px 0;
                                margin-bottom: 10px;
                                a{
                                    color: $pri-color !important;
                                    &:hover{
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal-tabs{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0px solid #ccc;
    height: 40px;
    margin-bottom: 5px;

    &:before{
        display: table-cell;
        content: '';
    }
    
    li{
        float: left;
        border: 1px solid #ccc;
        padding: 10px;;
        
        a{
            color: #797878;
            padding: 18px 25px;
            
        }
        &.active{
            border-top: 2px solid #232f3e;
            background-color: #EEEEEE;
            a{
            color:#464646;
            font-weight: 600;
            
            }
         }
    }
    
}


ul.popuplist{
    list-style: none;
    padding: 0;
    margin-left: 0;

    li{
        padding: 10px;
        a{
            color: #333;
        }
    }
}


.scroll{
    &::-webkit-scrollbar{
    width: 10px;
    }
    
 
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px #eee;
        -webkit-box-shadow: inset 0 0 6px #eee;
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: #167ac6;
      border-radius: 10px;
      outline: 0px solid #0c0;
    }
}

ul.audis{
    list-style:none;
    margin:auto;
    li{
        width:100%;
        background-color:#002d6e;
        text-transform:uppercase;
        text-align:center;
        margin-bottom: 10px;
    padding: 10px;
        a{
            color: #fff;
            font-size:1.5em;
        }
    }
}
table.agenda{
    margin-top: 10px;
    .status{
        font-size: 0.8em;
        text-transform: uppercase;
        &.yet{
            display: none;
        }
        &.next{
            color: blue;
        }
        &.live{
            color: green;
        }
        &.over{
            color: #cc0000;
        }

    }
    .date{
        font-size: 1em;
    }
    h4{
        font-size: 1.5em;
        font-weight: 500;
    }
    a.btn-launch{
        background-color: #002d6e;
        padding: 8px 16px;
        border-radius: 0;
        border: none;
        color: #F5F5F5;
        font-size: 1em;
    }
}
ul#pollResults{
    margin: 0;
    padding: 0;
    li {
        display: block;
        border: solid 1px #ddd;
        padding: 14px;
        margin-bottom: 10px;
        position: relative;
        z-index: 0;
        
        .perc-back {
          background: $light-blue;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 0%;
          z-index: -1;
        }      

      label {
        vertical-align: middle;
        cursor: pointer;
        overflow: hidden;
        /* &:before {
          content: url('http://img.qa01.medscapestatic.com/pi/videoplayer/icons/qna-radio-off.png');
          overflow: hidden;
          display: inline-block;
          margin-right: 10px;
          margin-top: 2px;
          margin-left: 2px;
          margin-bottom: -1px;
        } */
      }
      .perc-number {
        float: right;
      }  

    }
}

.ui-dialog {
    border: 0px solid $pri-color;
    transition: all 0.5s;
    width: 80% !important;
    height: 60% !important;
    max-width: 900px;
    max-height: 450px;
    overflow:auto;
    background-color: #fff;
    
    &.talktoteam{
        max-width:400px;
        max-height:400px;
        position: absolute;
        bottom: 70px !important;
        top: auto !important;
        right: 15px;
        left: auto !important;
    }
    
    &.attendeechat{
        max-width:400px;
        max-height:400px;
       /* position: absolute;
        bottom: 70px !important;
        top: auto !important;
        right: 15px;
        left: auto !important;*/
    }
    
    &.videolist{
        max-width:450px;
        max-height:400px;
        
    }
    &.requests{
        max-width:500px;
        max-height:200px;
        
    }
    
    .ui-widget-header {
        background: none;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px;
    }
    .ui-dialog-title {
        text-transform: uppercase;
    }
    .ui-dialog-titlebar-close {
        background: none;
        border: none;
        border-radius: 0;
    }
    .ui-dialog-titlebar-close {
        .ui-icon-closethick {
          width: 30px;
          height: 30px;
          background-image: url(../img/close.png);
          background-size: cover;
          background-position: center center;
          margin-top: -16px;
          margin-left: -18px;
          
          &:focus{
              outline:none;
          }
        }
    }
    .attendee_chat_box,
    #talktous{
        height:350px !important;
        overflow: hidden;
    }
}

.btn-chat, .btn-share{
    background-color: $light-blue;
    color: $blue;
    font-size: 1em;
    padding: 5px;
    border: 1px solid $blue;
    border-radius: 4px;
}

#talktous{
    background-color: #fff;
    color: grey;
    padding: 10px;
    margin: 0 auto;
    #chat_team{
        .chat_history{
            height:225px; border:1px solid #e9ecef; background-color:#f8f9fa; overflow-y:auto; margin-bottom:15px;
        }
        .form-group {
            margin-bottom: 0.25em;
        }
    }
    
}



#chat-area{
    background-color: #e9ecef;
    color:#6c757d;
    border: 1px solid #6c757d;
    width: 80%;
    height: calc(100vh - 100px);
    border-radius: 4px;
    margin: 0 auto;
    
    #chat-members{
        width:35%;
        border-right:1px solid #6c757d;
        float:left;
        height:100%;
        #member-heading{
            font-size: 1.25em;
            text-align:center;
            border-bottom:1px solid #6c757d;
            padding:10px;
            padding: 25px;
            height: 70px;
        }
        #chat-users{
            height:calc(100% - 70px);
            overflow:auto;
            
            ul.chatusers{
                list-style:none;
                padding:0;
                margin:0;
                li{
                    padding:10px 20px;
                    border-bottom:1px solid #dae0e5;
                    font-weight:600;
                    font-size:1.25em;
                    
                    span{
                        display:block;
                        font-size:0.8em;
                        font-weight:100;
                    }
                    span.badge{ 
                        display:inline-block;
                        margin-left:3px;
                        font-size:0.8em;
                    
                    }
                    &:hover{
                        background-color:#dae0e5;
                        cursor:pointer;
                    }
                }
            }
        }
    }
    #member-chats{
        width:65%;
        float:left;
        height:100%;
        
        #chats-heading{
            
            height:70px;
            
            border-bottom:1px solid #6c757d;
            padding:25px;
            h3{
                font-size: 1.25em;
                margin-bottom:5px;
            }
            h4{
                font-size:1em;
            }
        }
        #member-chat-history{
          height:calc(100% - 100px);  
          #chat-history{
              height:calc(100% - 100px);
              overflow:auto;
              
              ul{
                li{
                    position:relative;
                    border-bottom:1px solid #dae0e5;
                    span.time{
                        display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.75em;
                    }
                }
              }
          }
        
        }
        #team-chat-form{
            height:100px;
            padding:10px 30px;
            
            textarea{
                font-size:1em;
            }
        }
    }
  }

  .e-card {
    width: 100%;
 .ecard {
 background-color:#29396f;
 padding:40px;
 border-radius:12px;
 position:relative;
 color:#fff;
 box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.45);
 .name {
    font-size: 1.75em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 40px;
    text-shadow: 2px 2px 3px #000;
    text-transform: uppercase;
}
 .info {
 font-size:1.25em;
 text-align:center;
 margin-bottom:50px;
}
 .info2 {
 font-size:1em;
 position:absolute;
 left:15px;
 bottom:15px;
}
}
}

#helpline{
    position: absolute;
    bottom: 8px;
    right: 20px;
    text-align: center;
    color: #333;;
    i{
        margin-right: 5px;
    }
}

section.videotoplay
{
    z-index:9999;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    width:calc(100% - 0px);
    height:calc(100vh);
    
    video{
        width:100%;
        height:calc(100vh);
        object-fit:cover;
        cursor: none;
    }
    
    .skip{
    position: absolute;
    bottom: 100px;
    right: 50px;
    background-color: #cc0000;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
    a{ color: #fff;
        &:hover{
        color: #fff;
        text-decoration:none;
    }
    }
    }
}