@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-image: url(https://origyn.s3.ap-south-1.amazonaws.com/bg.jpg);
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
}

body.bg-info {
    background-image: none;
}

body.loaded .preloader {
    display: none;
}

body.loaded .page-content {
    display: block;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
}

.right-area-wrapper {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 10px;
}

.reg-content {
    position: relative;
    min-height: 100vh;
}

.reg-content .left-art {
    position: absolute;
    top: 0;
    left: 0;
}

.reg-content .left-art img {
    width: 100%;
    height: auto;
}

.reg-content h5 {
    color: #6f6f6f;
    text-align: center;
}

#mobile-portrait {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    display: none;
}

.center-device {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
    transform: translate(-50%, -50%) scale(2.5);
    height: 50vh;
    max-height: 250px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 815px) {
    #content #bottom-menu {
        height: 50px !important;
    }
    #content #bottom-menu ul li a {
        font-size: 0.8em !important;
        padding: 5px !important;
    }
    #content #bottom-menu .ml-auto {
        margin-left: 5px !important;
    }
    #helpline {
        font-size: 0.8em !important;
        right: 10px !important;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 815px) and (orientation: portrait) {
    #mobile-portrait {
        display: block !important;
    }
}

form {
    color: #333;
}

form label {
    text-transform: uppercase;
    font-weight: 500;
    display: block;
}

form .input {
    background-color: #eaecef;
    border-radius: 1px;
    width: 100%;
    border: 0;
    padding: 10px;
    font-size: 1em;
}

form [type=submit] {
    border: 0;
    border-radius: 0;
}

form [type=checkbox] {
    margin-right: 5px;
}

form .btn-submit {
    background-image: url(../img/btn-bg.jpg);
    width: 96px;
    height: 41px;
    color: #fff;
}

form .divider {
    border-top: 2px solid #e4e4e4;
}

form .lower {
    text-transform: capitalize !important;
}

form .form-cancel img {
    vertical-align: top;
}

form sup.req {
    color: #c00;
}

form .btn-register {
    background-image: url(../img/btn-register.jpg);
    width: 96px;
    height: 41px;
}

form .btn-submit {
    background-image: url(../img/btn-submit.jpg);
    width: 96px;
    height: 41px;
}

form #btnLogin {
    background-color: #ec4191;
    width: 96px;
    height: 41px;
    text-align: center;
    color: #fff;
}


/* Customization Style of SyoTimer */

.syotimer {
    text-align: center;
    margin: 30px auto 0;
    padding: 0 0 10px;
}

.syotimer-cell {
    display: inline-block;
    margin: 0 5px;
    width: 79px;
    background: url(../img/timer.png) no-repeat 0 0;
}

.syotimer-cell__value {
    font-size: 35px;
    color: #ffffff;
    height: 81px;
    line-height: 81px;
    margin: 0 0 5px;
}

.syotimer-cell__unit {
    font-size: 12px;
    text-transform: uppercase;
}

.option {
    font-weight: 700;
}

.preloader {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 999999;
}

.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader--dot {
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}

.loader--dot:first-child {
    background-color: #8cc759;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
    background-color: #8c6daf;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
    background-color: #ef5d74;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
    background-color: #f9a74b;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
    background-color: #60beeb;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
    background-color: #fbef5a;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}

.loader--text:after {
    content: "Loading";
    font-weight: bold;
    -webkit-animation-name: loading-text;
    animation-name: loading-text;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    color: #333333;
}

@-webkit-keyframes loader {
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    65% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    95% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes loader {
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    65% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    95% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes loading-text {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
}

@keyframes loading-text {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
    }
    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
    }
    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
    }
}

#content {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: calc(100vh);
    overflow: hidden;
}

#content.iq {
    min-height: 550px;
}

#content.photobooth {
    min-height: 650px;
}

#content #header-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

#content #header-menu a {
    color: #424242;
    font-size: 1em;
}

#content #header-menu ul#attendance {
    list-style: none;
    margin: 0;
    padding: 0;
}

#content #header-menu ul#attendance li {
    margin-bottom: 0;
    font-size: 0.75em;
    padding: 0 10px;
}

#content #bottom-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #fff;
}

#content #bottom-menu .bottom-nav {
    padding: 4px 0;
}

#content #bottom-menu ul li {
    /*padding:0 10px;*/
}

#content #bottom-menu ul li i,
#content #bottom-menu ul li a {
    display: block;
    color: #424242;
    font-size: 1em;
    text-align: center;
    padding: 5px 10px;
}

#content #bottom-menu ul li i:hover,
#content #bottom-menu ul li a:hover {
    text-decoration: none;
}

#content #bottom-menu ul li i {
    position: relative;
}

#content #bottom-menu ul li i #chat-message {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 0.75em;
}

#content #bg {
    position: relative;
}

#content #bg.photobooth {
    background-color: #bcc7c4;
    min-height: 650px;
}

#content #bg img {
    width: 100%;
    height: auto;
}

#content #bg .indicator {
    background-color: #c00;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 #000;
    box-shadow: 0 0 0 0 #000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

#content #bg .indicator.d-10 {
    width: 10px;
    height: 10px;
    bottom: -5px;
    /*top: calc(100% - 5px) !important;*/
}

#content #bg .indicator.d-6 {
    width: 6px;
    height: 6px;
    bottom: -3px;
    /*top: calc(100% - 3px) !important;*/
}

#content #bg .indicator.d-8 {
    width: 8px;
    height: 8px;
    bottom: -4px;
    /*top: calc(100% - 3px) !important;*/
}

#content #bg .indicator.d-12 {
    width: 12px;
    height: 12px;
    bottom: -6px;
    /*top: calc(100% - 3px) !important;*/
}

#content #bg area {
    outline: none;
}

#content #bg area:focus {
    outline: none;
}

#content #bg #back-button {
    position: absolute;
    background-color: #072d45;
    padding: 5px 10px;
    border-radius: 4px;
    top: 80px;
    left: 15px;
}

#content #bg #back-button a,
#content #bg #back-button a:hover {
    color: #fff;
}

#content #bg #lobbyVideo {
    position: absolute;
    top: 14.2%;
    left: 46.0%;
    width: 8.0%;
    height: 6.5%;
}

#content #bg #enterAudi1 {
    position: absolute;
    top: 22.3%;
    left: 18.7%;
    width: 4.6%;
    height: 2.4%;
}

#content #bg #enterAudi2 {
    position: absolute;
    top: 22.3%;
    left: 48.1%;
    width: 3.8%;
    height: 2.4%;
}

#content #bg #enterAudi3 {
    position: absolute;
    top: 22.3%;
    left: 74.2%;
    width: 4.9%;
    height: 2.4%;
}

#content #bg #enterHall {
    position: absolute;
    top: 31.6%;
    left: 34.4%;
    width: 6.4%;
    height: 1.9%;
}

#content #bg #enterLounge {
    position: absolute;
    top: 31.2%;
    left: 59.2%;
    width: 6.1%;
    height: 2.9%;
}

#content #bg #connectFb {
    position: absolute;
    top: 45.9%;
    left: 70.8%;
    width: 1.2%;
    height: 2.2%;
}

#content #bg #connectTwtr {
    position: absolute;
    top: 45.9%;
    left: 72.8%;
    width: 1.2%;
    height: 2.2%;
}

#content #bg #connectInsta {
    position: absolute;
    top: 49.3%;
    left: 70.6%;
    width: 1.2%;
    height: 2.1%;
}

#content #bg #connectLinked {
    position: absolute;
    top: 49.3%;
    left: 72.7%;
    width: 1.3%;
    height: 2.1%;
}

#content #bg #exhVideo {
    position: absolute;
    top: 17%;
    left: 42.1%;
    width: 14.9%;
    height: 16.7%;
}

#content #bg #showAgenda {
    position: absolute;
    top: 36.4%;
    left: 55.6%;
    width: 2.2%;
    height: 0.9%;
}

#content #bg #showProfile {
    position: absolute;
    top: 38.4%;
    left: 55.6%;
    width: 2.2%;
    height: 1.5%;
}

#content #bg #loungeBatchmate {
    position: absolute;
    top: 36.7%;
    left: 58.1%;
    width: 4.0%;
    height: 4.0%;
}

#content #bg #loungeBatchmate .indicator {
    bottom: 0;
}

#content #bg #shareEcard {
    position: absolute;
    top: 36.7%;
    left: 39.8%;
    width: 4.0%;
    height: 4.0%;
}

#content #bg #shareEcard .indicator {
    bottom: 0;
}

#content #bg #webcast-area {
    position: absolute;
    background-color: #000;
    top: 28.7%;
    left: 37.4%;
    width: 25.3%;
    height: 21.4%;
}

#content #bg #webcast-area #goFS {
    position: absolute;
    bottom: -15px;
    right: 0;
    font-size: 0.5em;
    background-color: #c00;
    padding: 0px 3px;
    letter-spacing: 0.15em;
}

#content #bg #webcast-area #goFS:hover {
    color: #fff;
}

#content #bg #webcast-area #player {
    width: 100%;
    height: 100%;
}

#content #bg #iqQues,
#content #bg #iqRes {
    position: absolute;
    top: 65px;
    width: 80%;
    max-width: 800px;
    /* height: 70vh;
            max-height: 600px; */
    padding: 5px;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 6px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
}

#content #bg #iqQues table td,
#content #bg #iqRes table td {
    padding: 5px 10px;
}

#content #bg #iqRes {
    max-width: 400px !important;
}

#content #bg.mumfermax #videos {
    position: absolute;
    top: 27.2%;
    left: 17.6%;
    width: 10.1%;
    height: 5.9%;
}

#content #bg.mumfermax #literature {
    position: absolute;
    top: 35.5%;
    left: 17.6%;
    width: 10.1%;
    height: 6.4%;
}

#content #bg.mumfermax #contact {
    position: absolute;
    top: 43.9%;
    left: 17.6%;
    width: 10.1%;
    height: 6.1%;
}

#content #bg.mumfermax #poster1 {
    position: absolute;
    top: 28.8%;
    left: 31.3%;
    width: 7.0%;
    height: 20.2%;
}

#content #bg.mumfermax #video1 {
    position: absolute;
    top: 34.6%;
    left: 40.7%;
    width: 10.0%;
    height: 8.4%;
}

#content #bg.mumfermax #poster2 {
    position: absolute;
    top: 33.3%;
    left: 53.2%;
    width: 9.3%;
    height: 10.5%;
}

#content #bg.mumfermax #video2 {
    position: absolute;
    top: 33.6%;
    left: 65.5%;
    width: 11.3%;
    height: 8.9%;
}

#content #bg.dubagest #literature {
    position: absolute;
    top: 27.2%;
    left: 17.6%;
    width: 10.1%;
    height: 5.9%;
}

#content #bg.dubagest #videos {
    position: absolute;
    top: 35.5%;
    left: 17.6%;
    width: 10.1%;
    height: 6.4%;
}

#content #bg.dubagest #contact {
    position: absolute;
    top: 43.9%;
    left: 17.6%;
    width: 10.1%;
    height: 6.1%;
}

#content #bg.dubagest #poster1 {
    position: absolute;
    top: 33.8%;
    left: 29.6%;
    width: 8.2%;
    height: 8.7%;
}

#content #bg.dubagest #poster2 {
    position: absolute;
    top: 31.8%;
    left: 41.1%;
    width: 8.3%;
    height: 15.8%;
}

#content #bg.dubagest #poster3 {
    position: absolute;
    top: 30.7%;
    left: 53.2%;
    width: 9.1%;
    height: 16.5%;
}

#content #bg.dubagest #video1 {
    position: absolute;
    top: 34.2%;
    left: 65.5%;
    width: 11.2%;
    height: 8.7%;
}

#content #bg.fenza #poster1 {
    position: absolute;
    top: 34.1%;
    left: 23.5%;
    width: 6.8%;
    height: 14.8%;
}

#content #bg.fenza #poster2 {
    position: absolute;
    top: 35%;
    left: 32.1%;
    width: 7.1%;
    height: 13.9%;
}

#content #bg.fenza #poster3 {
    position: absolute;
    top: 35.5%;
    left: 41.4%;
    width: 6.3%;
    height: 13.4%;
}

#content #bg.fenza #contact {
    position: absolute;
    top: 36.3%;
    left: 60.7%;
    width: 6.2%;
    height: 4.2%;
}

#content #bg.fenza #literature {
    position: absolute;
    top: 42.8%;
    left: 60.7%;
    width: 6.2%;
    height: 4.6%;
}

#content #bg.fenza #video1 {
    position: absolute;
    top: 36.2%;
    left: 69.9%;
    width: 7.9%;
    height: 8.0%;
}

#content #bg.vytal #poster1 {
    position: absolute;
    top: 30.6%;
    left: 19%;
    width: 17.9%;
    height: 18.4%;
}

#content #bg.vytal #poster2 {
    position: absolute;
    top: 30.5%;
    left: 41%;
    width: 8.3%;
    height: 16.5%;
}

#content #bg.vytal #poster3 {
    position: absolute;
    top: 30.1%;
    left: 52.3%;
    width: 11.1%;
    height: 15.2%;
}

#content #bg.vytal #video1 {
    position: absolute;
    top: 33.7%;
    left: 65.6%;
    width: 11.3%;
    height: 8.6%;
}

#content #bg.fenzawash #literature {
    position: absolute;
    top: 33.9%;
    left: 24.5%;
    width: 6.4%;
    height: 3.3%;
}

#content #bg.fenzawash #contact {
    position: absolute;
    top: 40%;
    left: 24.5%;
    width: 6.4%;
    height: 3.3%;
}

#content #bg.fenzawash #poster1 {
    position: absolute;
    top: 34.6%;
    left: 32.5%;
    width: 6.9%;
    height: 13.7%;
}

#content #bg.fenzawash #poster2 {
    position: absolute;
    top: 35.1%;
    left: 41.7%;
    width: 6.1%;
    height: 12.9%;
}

#content #bg.fenzawash #poster3 {
    position: absolute;
    top: 35.1%;
    left: 60.8%;
    width: 5.1%;
    height: 12.9%;
}

#content #bg.fenzawash #video1 {
    position: absolute;
    top: 35.9%;
    left: 69.7%;
    width: 7.8%;
    height: 7.8%;
}

#content #audiAgenda,
#content #ask-ques,
#content #take-poll {
    background-color: #000;
    position: absolute;
    top: 52.5%;
    left: 0;
    width: 150px;
    border-radius: 0 6px 6px 0;
    text-align: center;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
}

#content #audiAgenda a,
#content #ask-ques a,
#content #take-poll a {
    display: block;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    padding: 15px 10px;
}

#content #audiAgenda i,
#content #ask-ques i,
#content #take-poll i {
    display: block;
    margin-bottom: 5px;
}

#content #ask-ques,
#content #take-poll {
    left: auto !important;
    right: 0;
    top: 52.5%;
    border-radius: 6px 0 0 6px !important;
}

#content #take-poll {
    top: calc(52.5% + 100px);
}

#content .panel {
    position: absolute;
    top: 60px;
    right: -300px;
    width: 300px;
    height: calc(100vh - 120px);
    cursor: pointer;
    background-color: #adb5bd;
    font-size: 1em;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#content .panel .panel-heading {
    background-color: #212529;
    text-transform: uppercase;
    padding: 5px 10px;
    position: relative;
    font-size: 1.25em;
    color: #EEEEEE;
}

#content .panel .panel-heading .close {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 1em;
    color: #ccc;
    background-color: #c00;
    padding: 2px 4px 3px 4px;
}

#content .panel .panel-content {
    padding: 20px;
}

#content .panel.show {
    right: 0;
}

#content #photobooth {
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 500px;
    height: 500px;
}

#content #photobooth #my_camera {
    /*width: 454px;
        height: 341px;*/
    border: 0px solid black;
    position: absolute;
    top: 108px;
    left: 43px;
}

#content #photobooth #template {
    background-image: url(../../upload/template.jpg);
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    position: relative;
    margin: 0;
}

#content #photobooth #actions {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    text-align: center;
}

#content #photobooth #results {
    position: absolute;
    top: 108px;
    left: 43px;
}

#content #photobooth .btn-booth {
    border: 0;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 3px;
}

#content #photobooth .btn-booth.take {
    background-color: #1e7e34;
}

#content #photobooth .btn-booth.save {
    background-color: #007bff;
}

#content #photobooth #download-image {
    margin-top: 5px;
}

#content #photobooth #download-image a#link {
    color: #333;
    padding: 5px 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
    border-radius: 3px;
}

#content #photobooth #download-image a#link i {
    margin-left: 5px;
}

#content .form-check-input {
    margin-left: 0;
}


/*Modals*/

.modal {
    outline: 0;
}

.modal#attendees .modal-dialog,
.modal#confAgenda .modal-dialog {
    width: 90% !important;
    max-width: 800px !important;
    height: 80vh;
    max-height: 600px;
}

.modal .search-area form .input {
    width: 100%;
}

.modal .modal-dialog {
    width: 80%;
    max-width: 650px;
    height: 70vh;
    max-height: 600px;
}

.modal .modal-dialog .modal-content {
    border: 0;
}

.modal .modal-dialog .modal-content .modal-header {
    background-color: #072d45;
}

.modal .modal-dialog .modal-content .modal-header h5.modal-title {
    margin: 0;
    font-size: 1.25em;
    color: #fff;
}

.modal .modal-dialog .modal-content .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    background-color: #c00;
    color: #fff;
}

.modal .modal-dialog .modal-content .modal-header .close:focus {
    outline: none !important;
}

.modal .modal-dialog .modal-content .modal-body {
    padding: 0em;
    color: #616161;
    background-color: #F5F5F5;
    /*min-height: 50vh;*/
}

.modal .modal-dialog .modal-content .modal-body iframe {
    width: 100%;
    height: 100%;
}

.modal .modal-dialog .modal-content .modal-body .search-area {
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 10px;
}

.modal .modal-dialog .modal-content .modal-body .search-area button {
    border: 1px solid #ccc;
    padding: 4px 12px;
    margin: 0 5px 0 0;
    border-radius: 4px;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList {
    border: 1px solid #e0e0e0;
    padding: 0;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee {
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee .attendee-actions {
    position: absolute;
    top: 7px;
    right: 10px;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee .attendee-actions button {
    border: none;
    background-color: #BDBDBD;
    padding: 4px 8px;
    color: #EEEEEE;
}

.modal .modal-dialog .modal-content .modal-body .content {
    /* min-height: 30vh; */
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    width: 95%;
    margin: 10px auto;
}

.modal .modal-dialog .modal-content .modal-body .content a {
    color: #007cb0;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel {
    margin: 40px 20px;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul li {
    border-bottom: 1px solid #E0E0E0;
    padding: 5px 0;
    margin-bottom: 10px;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul li a {
    color: #e73f8c !important;
}

.modal .modal-dialog .modal-content .modal-body .content.b-case-panel ul li a:hover {
    text-decoration: none;
}

.modal-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0px solid #ccc;
    height: 40px;
    margin-bottom: 5px;
}

.modal-tabs:before {
    display: table-cell;
    content: '';
}

.modal-tabs li {
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
}

.modal-tabs li a {
    color: #797878;
    padding: 18px 25px;
}

.modal-tabs li.active {
    border-top: 2px solid #232f3e;
    background-color: #EEEEEE;
}

.modal-tabs li.active a {
    color: #464646;
    font-weight: 600;
}

ul.popuplist {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

ul.popuplist li {
    padding: 10px;
}

ul.popuplist li a {
    color: #333;
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #eee;
    -webkit-box-shadow: inset 0 0 6px #eee;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #167ac6;
    border-radius: 10px;
    outline: 0px solid #0c0;
}

ul.audis {
    list-style: none;
    margin: auto;
}

ul.audis li {
    width: 100%;
    background-color: #002d6e;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

ul.audis li a {
    color: #fff;
    font-size: 1.5em;
}

table.agenda {
    margin-top: 10px;
}

table.agenda .status {
    font-size: 0.8em;
    text-transform: uppercase;
}

table.agenda .status.yet {
    display: none;
}

table.agenda .status.next {
    color: blue;
}

table.agenda .status.live {
    color: green;
}

table.agenda .status.over {
    color: #cc0000;
}

table.agenda .date {
    font-size: 1em;
}

table.agenda h4 {
    font-size: 1.5em;
    font-weight: 500;
}

table.agenda a.btn-launch {
    background-color: #002d6e;
    padding: 8px 16px;
    border-radius: 0;
    border: none;
    color: #F5F5F5;
    font-size: 1em;
}

ul#pollResults {
    margin: 0;
    padding: 0;
}

ul#pollResults li {
    display: block;
    border: solid 1px #ddd;
    padding: 14px;
    margin-bottom: 10px;
    position: relative;
    z-index: 0;
}

ul#pollResults li .perc-back {
    background: #d2dfe5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    z-index: -1;
}

ul#pollResults li label {
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    /* &:before {
          content: url('http://img.qa01.medscapestatic.com/pi/videoplayer/icons/qna-radio-off.png');
          overflow: hidden;
          display: inline-block;
          margin-right: 10px;
          margin-top: 2px;
          margin-left: 2px;
          margin-bottom: -1px;
        } */
}

ul#pollResults li .perc-number {
    float: right;
}

.ui-dialog {
    border: 0px solid #e73f8c;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 80% !important;
    height: 60% !important;
    max-width: 900px;
    max-height: 450px;
    overflow: auto;
    background-color: #fff;
}

.ui-dialog.talktoteam {
    max-width: 400px;
    max-height: 400px;
    position: absolute;
    bottom: 70px !important;
    top: auto !important;
    right: 15px;
    left: auto !important;
}

.ui-dialog.attendeechat {
    max-width: 400px;
    max-height: 400px;
    /* position: absolute;
        bottom: 70px !important;
        top: auto !important;
        right: 15px;
        left: auto !important;*/
}

.ui-dialog.videolist {
    max-width: 450px;
    max-height: 400px;
}

.ui-dialog.requests {
    max-width: 500px;
    max-height: 200px;
}

.ui-dialog .ui-widget-header {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.ui-dialog .ui-dialog-title {
    text-transform: uppercase;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: none;
    border: none;
    border-radius: 0;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick {
    width: 30px;
    height: 30px;
    background-image: url(../img/close.png);
    background-size: cover;
    background-position: center center;
    margin-top: -16px;
    margin-left: -18px;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick:focus {
    outline: none;
}

.ui-dialog .attendee_chat_box,
.ui-dialog #talktous {
    height: 350px !important;
    overflow: hidden;
}

.btn-chat,
.btn-share {
    background-color: #d2dfe5;
    color: #007cb0;
    font-size: 1em;
    padding: 5px;
    border: 1px solid #007cb0;
    border-radius: 4px;
}

#talktous {
    background-color: #fff;
    color: grey;
    padding: 10px;
    margin: 0 auto;
}

#talktous #chat_team .chat_history {
    height: 225px;
    border: 1px solid #e9ecef;
    background-color: #f8f9fa;
    overflow-y: auto;
    margin-bottom: 15px;
}

#talktous #chat_team .form-group {
    margin-bottom: 0.25em;
}

#chat-area {
    background-color: #e9ecef;
    color: #6c757d;
    border: 1px solid #6c757d;
    width: 80%;
    height: calc(100vh - 100px);
    border-radius: 4px;
    margin: 0 auto;
}

#chat-area #chat-members {
    width: 35%;
    border-right: 1px solid #6c757d;
    float: left;
    height: 100%;
}

#chat-area #chat-members #member-heading {
    font-size: 1.25em;
    text-align: center;
    border-bottom: 1px solid #6c757d;
    padding: 10px;
    padding: 25px;
    height: 70px;
}

#chat-area #chat-members #chat-users {
    height: calc(100% - 70px);
    overflow: auto;
}

#chat-area #chat-members #chat-users ul.chatusers {
    list-style: none;
    padding: 0;
    margin: 0;
}

#chat-area #chat-members #chat-users ul.chatusers li {
    padding: 10px 20px;
    border-bottom: 1px solid #dae0e5;
    font-weight: 600;
    font-size: 1.25em;
}

#chat-area #chat-members #chat-users ul.chatusers li span {
    display: block;
    font-size: 0.8em;
    font-weight: 100;
}

#chat-area #chat-members #chat-users ul.chatusers li span.badge {
    display: inline-block;
    margin-left: 3px;
    font-size: 0.8em;
}

#chat-area #chat-members #chat-users ul.chatusers li:hover {
    background-color: #dae0e5;
    cursor: pointer;
}

#chat-area #member-chats {
    width: 65%;
    float: left;
    height: 100%;
}

#chat-area #member-chats #chats-heading {
    height: 70px;
    border-bottom: 1px solid #6c757d;
    padding: 25px;
}

#chat-area #member-chats #chats-heading h3 {
    font-size: 1.25em;
    margin-bottom: 5px;
}

#chat-area #member-chats #chats-heading h4 {
    font-size: 1em;
}

#chat-area #member-chats #member-chat-history {
    height: calc(100% - 100px);
}

#chat-area #member-chats #member-chat-history #chat-history {
    height: calc(100% - 100px);
    overflow: auto;
}

#chat-area #member-chats #member-chat-history #chat-history ul li {
    position: relative;
    border-bottom: 1px solid #dae0e5;
}

#chat-area #member-chats #member-chat-history #chat-history ul li span.time {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.75em;
}

#chat-area #member-chats #team-chat-form {
    height: 100px;
    padding: 10px 30px;
}

#chat-area #member-chats #team-chat-form textarea {
    font-size: 1em;
}

.e-card {
    width: 100%;
}

.e-card .ecard {
    background-color: #29396f;
    padding: 40px;
    border-radius: 12px;
    position: relative;
    color: #fff;
    -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.45);
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.45);
}

.e-card .ecard .name {
    font-size: 1.75em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 40px;
    text-shadow: 2px 2px 3px #000;
    text-transform: uppercase;
}

.e-card .ecard .info {
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 50px;
}

.e-card .ecard .info2 {
    font-size: 1em;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

#helpline {
    position: absolute;
    bottom: 8px;
    right: 20px;
    text-align: center;
    color: #333;
}

#helpline i {
    margin-right: 5px;
}

section.videotoplay {
    z-index: 9999;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 0px);
    height: calc(100vh);
}

section.videotoplay video {
    width: 100%;
    height: calc(100vh);
    -o-object-fit: cover;
    object-fit: cover;
    cursor: none;
}

section.videotoplay .skip {
    position: absolute;
    bottom: 100px;
    right: 50px;
    background-color: #cc0000;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
}

section.videotoplay .skip a {
    color: #fff;
}

section.videotoplay .skip a:hover {
    color: #fff;
    text-decoration: none;
}


/*# sourceMappingURL=styles.css.map */