* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #f9f3ed;
  font-size: 1rem;
  position: relative;
}

body.loaded .preloader {
  display: none;
}

body.loaded .page-content {
  display: block;
}

body .page-content {
  display: none;
}

body.no-bg {
  background-image: none;
}

a {
  text-decoration: none;
}

a.skip {
  position: fixed;
  bottom: 10%;
  right: 50px;
  background-color: #cc0000;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 20px;
}

.videotoplay {
  z-index: 9999;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 0px);
  height: calc(100vh);
  overflow: hidden;
}

.videotoplay iframe {
  width: 100%;
  height: calc(100vh);
}

.videotoplay .skip {
  position: absolute;
  bottom: 10%;
  right: 50px;
  background-color: #cc0000;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 20px;
}

.videotoplay .skip:hover {
  color: #fff;
  cursor: pointer;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
}

#art-top-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 9%;
  z-index: 1;
}

.login-wrapper {
  background-color: #f3f3f3;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid #bcc7ce;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.12);
}

form .input {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #606060;
}

form .input::-webkit-input-placeholder {
  /* Edge */
  font-style: italic;
}

form .input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-style: italic;
}

form .input::-ms-input-placeholder {
  font-style: italic;
}

form .input::placeholder {
  font-style: italic;
}

form .input:focus, form .input:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #606060;
}

.text-error {
  font-size: 0.65rem;
  margin-left: 12px;
}

/*Pre Loader*/
.preloader {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999999;
}

.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader--dot {
  -webkit-animation-name: loader;
  animation-name: loader;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}

.loader--dot:first-child {
  background-color: #8cc759;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
  background-color: #60beeb;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}

.loader--text:after {
  content: "Loading";
  font-weight: bold;
  -webkit-animation-name: loading-text;
  animation-name: loading-text;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  color: #333333;
}

@-webkit-keyframes loader {
  15% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(230px);
    transform: translateX(230px);
  }
  65% {
    -webkit-transform: translateX(230px);
    transform: translateX(230px);
  }
  95% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes loader {
  15% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  45% {
    -webkit-transform: translateX(230px);
    transform: translateX(230px);
  }
  65% {
    -webkit-transform: translateX(230px);
    transform: translateX(230px);
  }
  95% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}

@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}

/*Mobile Portrait Mode*/
#mobile-portrait {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
  display: none;
}

.center-device {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(2.5);
  transform: translate(-50%, -50%) scale(2.5);
  height: 50vh;
  max-height: 250px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 815px) and (orientation: portrait) {
  #mobile-portrait {
    display: block !important;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
    box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
    box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
    box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
    box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
  }
}

#content {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: calc(100vh);
  overflow: hidden;
}

#content.selfiezone {
  min-height: 650px;
}

#content #header-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

#content #header-menu nav {
  padding: 5px 0 !important;
}

#content #header-menu a {
  color: #424242;
  font-size: 0.75rem;
}

#content #header-menu ul#attendance {
  list-style: none;
  padding-left: 0 !important;
}

#content #header-menu ul#attendance li {
  margin-bottom: 0;
  font-size: 0.6em;
  padding: 0 10px;
}

#content #bottom-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

#content #bottom-menu .bottom-nav {
  padding: 5px 0;
}

#content #bottom-menu ul li a {
  display: block;
  color: #424242;
  font-size: 0.75rem;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

#content #bottom-menu ul li a:hover {
  text-decoration: none;
}

#content #bottom-menu ul li a i {
  display: block;
  color: #424242;
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 5px;
}

#content #bg {
  position: relative;
  margin-top: 0px;
  background-color: #000;
}

#content #bg img {
  width: 100%;
  height: auto;
}

#content #bg .indicator {
  background-color: #c00;
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 #000;
  box-shadow: 0 0 0 0 #000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

#content #bg .indicator.d-4 {
  width: 4px;
  height: 4px;
  bottom: -2px;
}

#content #bg .indicator.d-6 {
  width: 6px;
  height: 6px;
  bottom: -3px;
}

#content #bg .indicator.d-8 {
  width: 8px;
  height: 8px;
  bottom: -4px;
}

#content #bg .indicator.d-10 {
  width: 10px;
  height: 10px;
  bottom: -5px;
}

#content #bg #lobbyVideo {
  position: absolute;
  top: 26.2%;
  left: 43.0%;
  width: 14.4%;
  height: 19%;
}

#content #bg #enterYC {
  position: absolute;
  top: 33%;
  left: 24.4%;
  width: 8%;
  height: 3.2%;
}

#content #bg #enterHall {
  position: absolute;
  top: 33%;
  left: 68%;
  width: 8%;
  height: 3.2%;
}

#content #bg #enterSZ {
  position: absolute;
  top: 49.2%;
  left: 18.4%;
  width: 6%;
  height: 2.6%;
}

#content #bg #enterAudi {
  position: absolute;
  top: 49.2%;
  left: 46.8%;
  width: 6.4%;
  height: 2.6%;
}

#content #bg #enterBcs {
  position: absolute;
  top: 49.2%;
  left: 75.4%;
  width: 6.4%;
  height: 2.6%;
}

#content #bg #showAgenda {
  position: absolute;
  top: 58.5%;
  left: 63.4%;
  width: 1.6%;
  height: 1.6%;
}

#content #bg #showAgenda .indicator {
  left: 30%;
}

#content #bg #banner01 {
  position: absolute;
  top: 23.0%;
  left: 14.7%;
  width: 3.6%;
  height: 19.6%;
}

#content #bg #banner02 {
  position: absolute;
  top: 24.3%;
  left: 36.2%;
  width: 4.3%;
  height: 22.6%;
}

#content #bg #banner03 {
  position: absolute;
  top: 24.4%;
  left: 60%;
  width: 4.2%;
  height: 22.6%;
}

#content #bg #banner04 {
  position: absolute;
  top: 23.0%;
  left: 82%;
  width: 3.6%;
  height: 19.6%;
}

#content #bg #banner05 {
  position: absolute;
  top: 56.2%;
  left: 30.1%;
  width: 4.8%;
  height: 13.4%;
}

#content #bg #banner06 {
  position: absolute;
  top: 56.2%;
  left: 69.8%;
  width: 4.8%;
  height: 13.4%;
}

#content #bg #banner07 {
  position: absolute;
  top: 66.6%;
  left: 19.9%;
  width: 7.2%;
  height: 19.6%;
}

#content #bg #banner08 {
  position: absolute;
  top: 65.8%;
  left: 79.9%;
  width: 7.4%;
  height: 20.6%;
}

#content #bg #webcast-area {
  position: absolute;
  top: 25.5%;
  left: 28.6%;
  width: 43.4%;
  height: 36.8%;
}

#content #bg #webcast-area .video-player {
  width: 100%;
  height: 100%;
}

#content #bg #bcsVideo01 {
  position: absolute;
  top: 38.6%;
  left: 19.9%;
  width: 4.8%;
  height: 10%;
}

#content #bg #bcsVideo01 .indicator {
  bottom: 49%;
  left: 45%;
}

#content #bg #bcsGallery {
  position: absolute;
  top: 42%;
  left: 41.8%;
  width: 15.2%;
  height: 13%;
  overflow-x: hidden;
  overflow-y: auto;
}

#content #bg #bcsGallery .gallery a img {
  float: left;
  width: 33%;
  height: auto;
  border: 2px solid #000;
  -webkit-transition: -webkit-transform .15s ease;
  transition: -webkit-transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
  position: relative;
}

#content #bg #bcsGallery .gallery a:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 5;
}

#content #bg #bcsVideo01 {
  position: absolute;
  top: 38.6%;
  left: 19.9%;
  width: 4.8%;
  height: 10%;
}

#content #bg #bcsVideo01 .indicator {
  bottom: 49%;
  left: 45%;
}

#content #bg #bcsVideo02 {
  position: absolute;
  top: 38.6%;
  left: 71.5%;
  width: 4.8%;
  height: 10%;
}

#content #bg #bcsVideo02 .indicator {
  bottom: 49%;
  left: 40%;
}

#content #bg #bcsVideo03 {
  position: absolute;
  top: 35.6%;
  left: 11.6%;
  width: 6.7%;
  height: 13%;
}

#content #bg #bcsVideo03 .indicator {
  bottom: 50%;
  left: 45%;
}

#content #bg #bcsVideo04 {
  position: absolute;
  top: 35.6%;
  left: 77.5%;
  width: 6.7%;
  height: 13%;
}

#content #bg #bcsVideo04 .indicator {
  bottom: 50%;
  left: 40%;
}

#content #bg #youthConnect {
  position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  height: calc(92% - 60px);
}

#content #bg #youthConnect .indicator {
  left: 48%;
  display: none;
}

#content #bg #exhibit0101 {
  position: absolute;
  top: 27.4%;
  left: 6.7%;
  width: 9.0%;
  height: 6.8%;
}

#content #bg #exhibit0102 {
  position: absolute;
  top: 28.6%;
  left: 17.2%;
  width: 7.7%;
  height: 6.6%;
}

#content #bg #exhibit0103 {
  position: absolute;
  top: 29.8%;
  left: 26.3%;
  width: 6.7%;
  height: 6.1%;
}

#content #bg #exhibit0104 {
  position: absolute;
  top: 29.9%;
  left: 38.5%;
  width: 6.6%;
  height: 6.4%;
}

#content #bg #exhibit0105 {
  position: absolute;
  top: 29.9%;
  left: 46.3%;
  width: 6.6%;
  height: 6.4%;
}

#content #bg #exhibit0106 {
  position: absolute;
  top: 29.9%;
  left: 54%;
  width: 6.6%;
  height: 6.4%;
}

#content #bg #exhibit0107 {
  position: absolute;
  top: 29.4%;
  left: 66.5%;
  width: 6.9%;
  height: 6.2%;
}

#content #bg #exhibit0108 {
  position: absolute;
  top: 28.2%;
  left: 74.8%;
  width: 8%;
  height: 6.5%;
}

#content #bg #exhibit0109 {
  position: absolute;
  top: 26.7%;
  left: 84.4%;
  width: 9.3%;
  height: 7.1%;
}

#content #bg #exhibit0201 {
  position: absolute;
  top: 36.5%;
  left: 6.8%;
  width: 9%;
  height: 7.4%;
}

#content #bg #exhibit0202 {
  position: absolute;
  top: 37.2%;
  left: 17.3%;
  width: 7.7%;
  height: 6.9%;
}

#content #bg #exhibit0203 {
  position: absolute;
  top: 37.8%;
  left: 26.3%;
  width: 6.7%;
  height: 6.4%;
}

#content #bg #exhibit0204 {
  position: absolute;
  top: 37.8%;
  left: 38.5%;
  width: 6.6%;
  height: 6.6%;
}

#content #bg #exhibit0205 {
  position: absolute;
  top: 37.8%;
  left: 46.3%;
  width: 6.6%;
  height: 6.6%;
}

#content #bg #exhibit0206 {
  position: absolute;
  top: 37.8%;
  left: 54%;
  width: 6.6%;
  height: 6.6%;
}

#content #bg #exhibit0207 {
  position: absolute;
  top: 37.6%;
  left: 66.5%;
  width: 6.9%;
  height: 6.6%;
}

#content #bg #exhibit0208 {
  position: absolute;
  top: 37.0%;
  left: 74.8%;
  width: 7.8%;
  height: 6.9%;
}

#content #bg #exhibit0209 {
  position: absolute;
  top: 36.1%;
  left: 84.2%;
  width: 9.3%;
  height: 7.7%;
}

#content #bg #exhibit0301 {
  position: absolute;
  top: 45.5%;
  left: 7.0%;
  width: 8.9%;
  height: 7.6%;
}

#content #bg #exhibit0302 {
  position: absolute;
  top: 45.4%;
  left: 17.4%;
  width: 7.7%;
  height: 7.2%;
}

#content #bg #exhibit0303 {
  position: absolute;
  top: 45.6%;
  left: 26.4%;
  width: 6.7%;
  height: 6.4%;
}

#content #bg #exhibit0304 {
  position: absolute;
  top: 45.6%;
  left: 38.5%;
  width: 6.6%;
  height: 6.6%;
}

#content #bg #exhibit0305 {
  position: absolute;
  top: 45.6%;
  left: 46.3%;
  width: 6.6%;
  height: 6.6%;
}

#content #bg #exhibit0306 {
  position: absolute;
  top: 45.6%;
  left: 54%;
  width: 6.6%;
  height: 6.6%;
}

#content #bg #exhibit0307 {
  position: absolute;
  top: 45.6%;
  left: 66.5%;
  width: 6.9%;
  height: 6.6%;
}

#content #bg #exhibit0308 {
  position: absolute;
  top: 45.4%;
  left: 74.7%;
  width: 7.9%;
  height: 7.3%;
}

#content #bg #exhibit0309 {
  position: absolute;
  top: 45.4%;
  left: 84.1%;
  width: 9.4%;
  height: 7.9%;
}

#content #bg.photobooth {
  min-height: 650px;
}

#content #photobooth {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 90%;
  max-width: 1000px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-height: 650px;
}

#content #photobooth #options {
  position: absolute;
  right: 0;
  top: 0;
  width: 30% !important;
  max-height: 550px;
  padding: 0 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

#content #photobooth #options ul li {
  padding: 0 !important;
}

#content #photobooth #options ul li a {
  color: #333;
  font-size: 0.6rem;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0.5rem 1rem;
}

#content #photobooth #options ul li:hover {
  background-color: #333;
  cursor: pointer;
}

#content #photobooth #options ul li:hover a {
  color: #fff;
}

#content #photobooth #social {
  margin-top: 15px;
}

#content #photobooth #social a {
  font-size: 1.5rem;
}

#content #audiAgenda, #content #ask-ques, #content #take-poll {
  background-color: #000;
  position: absolute;
  top: 32.5%;
  left: 0;
  width: 125px;
  border-radius: 0 12px 12px 0;
  text-align: center;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
}

#content #audiAgenda a, #content #ask-ques a, #content #take-poll a {
  display: block;
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  padding: 15px 10px;
}

#content #audiAgenda a:hover, #content #ask-ques a:hover, #content #take-poll a:hover {
  text-decoration: none;
}

#content #audiAgenda i, #content #ask-ques i, #content #take-poll i {
  display: block;
  margin-bottom: 5px;
}

#content #ask-ques, #content #take-poll {
  left: auto !important;
  right: 0;
  top: 32.5%;
  border-radius: 6px 0 0 6px !important;
}

#content #take-poll {
  top: calc(32.5% + 100px);
}

#content .panel {
  position: absolute;
  top: 60px;
  right: -300px;
  width: 300px;
  height: calc(100vh - 100px);
  cursor: pointer;
  background-color: #adb5bd;
  font-size: 1em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: auto;
}

#content .panel .panel-heading {
  background-color: #212529;
  text-transform: uppercase;
  padding: 5px 10px;
  position: relative;
  font-size: 0.8em;
  color: #EEEEEE;
}

#content .panel .panel-heading .close {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 1em;
  color: #ccc;
  background-color: #c00;
  padding: 5px;
}

#content .panel .panel-content {
  padding: 10px;
}

#content .panel .panel-content .form-check-input {
  margin-left: 0 !important;
}

#content .panel.show {
  right: 0 !important;
}

ul#pollResults {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

ul#pollResults li {
  display: block;
  border: solid 1px #ddd;
  padding: 8px;
  margin-bottom: 6px;
  position: relative;
  z-index: 0;
}

ul#pollResults li:first-child {
  border-radius: 8px 8px 0 0;
}

ul#pollResults li:last-child {
  border-radius: 0 0 8px 8px;
}

ul#pollResults li .perc-back {
  background: #d2dfe5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  z-index: -1;
}

ul#pollResults li label {
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
}

ul#pollResults li .perc-number {
  float: right;
}

@media only screen and (max-width: 770px) {
  #audiAgenda, #ask-ques, #take-poll {
    top: 25.5% !important;
    width: 100px !important;
  }
  #audiAgenda a, #ask-ques a, #take-poll a {
    font-size: 0.8rem !important;
    padding: 8px 4px !important;
  }
  #audiAgenda i, #ask-ques i, #take-poll i {
    margin-bottom: 5px;
  }
  #ask-ques, #take-poll {
    top: 32.5%;
    border-radius: 6px 0 0 6px !important;
  }
  #take-poll {
    top: calc(22.5% + 80px) !important;
  }
  .panel {
    right: -200px !important;
    width: 200px !important;
    font-size: 0.8em !important;
  }
  .panel .panel-heading {
    padding: 5px 10px;
    font-size: 1em;
  }
  .panel .panel-heading .close {
    right: 10px;
    top: 7px;
    font-size: 1em;
    padding: 2px 4px 3px 4px;
  }
  .panel .panel-content {
    padding: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */