@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
*,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-image: url(../img/Best.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ffffff;
}

#login {
    background-image: url(../img/Best.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body.loaded .preloader {
    display: none;
}

body.loaded .page-content {
    display: block;
}

body .page-content {
    display: none;
}

body.no-bg {
    background-image: none;
}

#mobile-portrait {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    display: none;
}

.center-device {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(2.5);
    transform: translate(-50%, -50%) scale(2.5);
    height: 50vh;
    max-height: 250px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 815px) and (orientation: portrait) {
    #mobile-portrait {
        display: block !important;
    }
}


/* Customization Style of SyoTimer */

.syotimer {
    text-align: center;
    margin: 30px auto 0;
    padding: 0 0 10px;
}

.syotimer-cell {
    display: inline-block;
    margin: 0 5px;
    width: 79px;
    background: url(../img/timer.png) no-repeat 0 0;
}

.syotimer-cell__value {
    font-size: 35px;
    color: #ffffff;
    height: 81px;
    line-height: 81px;
    margin: 0 0 5px;
}

.syotimer-cell__unit {
    font-size: 12px;
    text-transform: uppercase;
}

.right-area-wrapper {
    background-color: #f1f1f2;
    border-radius: 24px;
    padding: 25% 0;
    margin: 10px auto;
}

.register-wrapper {
    /* background-color: #f6f6f6; */
    color: #333333;
    /* margin-top: 25px;
    margin-bottom: 50px; */
}

.register-wrapper h5 {
    color: #626262;
}

.preloader {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 999999;
}

.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader--dot {
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}

.loader--dot:first-child {
    background-color: #8cc759;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
    background-color: #8c6daf;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
    background-color: #ef5d74;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
    background-color: #f9a74b;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
    background-color: #60beeb;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
    background-color: #fbef5a;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}

.loader--text:after {
    content: "Loading";
    font-weight: bold;
    -webkit-animation-name: loading-text;
    animation-name: loading-text;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    color: #333333;
}

@-webkit-keyframes loader {
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    65% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    95% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes loader {
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    45% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    65% {
        -webkit-transform: translateX(230px);
        transform: translateX(230px);
    }
    95% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes loading-text {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
}

@keyframes loading-text {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
}

form label {
    text-transform: uppercase;
    display: block;
    font-size: 0.8em;
    font-weight: 500;
}

form .input {
    background-color: #e6e7e8;
    border: none;
    width: 100%;
    padding: 5px 10px;
}

form .input:focus {
    outline: 0;
}

form .form-cancel img {
    vertical-align: top;
}

section.videotoplay {
    z-index: 9999;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 0px);
    height: calc(100vh);
}

section.videotoplay video {
    width: 100%;
    height: calc(100vh);
    -o-object-fit: cover;
    object-fit: cover;
}

section.videotoplay .skip {
    position: absolute;
    bottom: 10%;
    right: 50px;
    background-color: #cc0000;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
}

section.videotoplay .skip:hover {
    color: #fff;
    cursor: pointer;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
    }
    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0.7);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(204, 0, 0, 0);
    }
    100% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(204, 0, 0, 0);
    }
}

#content {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: calc(100vh);
    overflow: hidden;
}

#content #header-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: transparent;
    z-index: 1;
}

#content #header-menu a {
    color: #424242;
    font-size: 1em;
}

#content #header-menu ul#attendance {
    list-style: none;
    margin: 0;
    padding: 0;
}

#content #header-menu ul#attendance li {
    margin-bottom: 0;
    font-size: 0.75em;
    padding: 0 10px;
}

#content #bottom-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #fff;
}

#content #bottom-menu .bottom-nav {
    padding: 4px 0;
}

#content #bottom-menu ul li i,
#content #bottom-menu ul li a {
    display: block;
    color: #424242;
    font-size: 1em;
    text-align: center;
    padding: 5px 10px;
}

#content #bottom-menu ul li i:hover,
#content #bottom-menu ul li a:hover {
    text-decoration: none;
}

#content #bg {
    position: relative;
    margin-top: 0px;
    background-color: #000;
}

#content #bg img {
    width: 100%;
    height: auto;
}

#bg1 img {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 90px;
}

#content #bg .indicator {
    background-color: #c00;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 #000;
    box-shadow: 0 0 0 0 #000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

#content #bg .indicator.d-4 {
    width: 4px;
    height: 4px;
    bottom: -2px;
}

#content #bg .indicator.d-6 {
    width: 6px;
    height: 6px;
    bottom: -3px;
}

#content #bg .indicator.d-8 {
    width: 8px;
    height: 8px;
    bottom: -4px;
}

#content #bg .indicator.d-10 {
    width: 10px;
    height: 10px;
    bottom: -5px;
}

#content #bg #lobbyVideo {
    position: absolute;
    top: 42.1%;
    left: 73.1%;
    width: 4.5%;
    height: 3.6%;
    background-color: #000000;
}

#content #bg #lobbyVideo .indicator {
    bottom: 45%;
    left: 50%;
}

#content #bg #enterHall {
    position: absolute;
    top: 23.5%;
    left: 42.2%;
    width: 5.4%;
    height: 1.6%;
}

#content #bg #resource {
    position: absolute;
    top: 42.1%;
    left: 72.7%;
    width: 5.4%;
    height: 1.6%;
}

#content #bg #enterAudi {
    position: absolute;
    top: 36.1%;
    left: 47.0%;
    width: 5.4%;
    height: 1.6%;
}

#content #bg #enterPB {
    position: absolute;
    top: 40.6%;
    left: 23.5%;
    width: 5.4%;
    height: 1.6%;
}

#content #bg #enterLounge {
    position: absolute;
    top: 23.6%;
    left: 53.5%;
    width: 5.4%;
    height: 1.6%;
}

#content #bg #showAgenda {
    position: absolute;
    top: 42.8%;
    left: 87.5%;
    width: 2.8%;
    height: 1.8%;
}

#content #bg #showAgenda_1 {
    position: absolute;
    top: 43.8%;
    left: 20.9%;
    width: 2.8%;
    height: 1.8%;
}

#content #bg #showAgenda_2 {
    position: absolute;
    top: 43.1%;
    left: 31.2%;
    width: 2.8%;
    height: 1.8%;
}

#content #bg #showAgenda_3 {
    position: absolute;
    top: 41.8%;
    left: 42.5%;
    width: 2.8%;
    height: 1.8%;
}

#content #bg #showAgenda_4 {
    position: absolute;
    top: 41.8%;
    left: 53.5%;
    width: 2.8%;
    height: 1.8%;
}

#content #bg #showAgenda_5 {
    position: absolute;
    top: 42.8%;
    left: 64.5%;
    width: 2.8%;
    height: 1.8%;
}

#content #bg #showAgenda_6 {
    position: absolute;
    top: 43.6%;
    left: 75.1%;
    width: 2.8%;
    height: 1.8%;
}

#content #bg #showAbout {
    position: absolute;
    top: 44.6%;
    left: 87.5%;
    width: 2.8%;
    height: 3.4%;
}

#content #bg #webcast-area {
    position: absolute;
    top: 30.1%;
    left: 34.8%;
    width: 28.1%;
    height: 21.8%;
}

#content #bg #webcast-area #player {
    width: 100%;
    height: 100%;
}

#content #bg #shareCards {
    position: absolute;
    top: 9.3%;
    left: 37.9%;
    width: 10.4%;
    height: 10.7%;
}

#content #bg #chatAttendees {
    position: absolute;
    top: 9.3%;
    left: 49.1%;
    width: 10.4%;
    height: 10.7%;
}

#content #bg #exhVideo {
    position: absolute;
    top: 20.2%;
    left: 39.2%;
    width: 19.3%;
    height: 17.2%;
    background-color: #000000;
}

#content #bg #exhVideo .indicator {
    bottom: 45%;
    left: 50%;
}

#content #bg #photobooth-actions {
    position: absolute;
    top: 60%;
    left: 25%;
    width: 22%;
    height: 7%;
}

#content #bg #photobooth-options {
    position: absolute;
    top: 8%;
    left: 55%;
    width: 22%;
    height: 20%;
}

#content #bg #photobooth {
    position: absolute;
    top: 4%;
    left: 25%;
    width: 22%;
    height: 54.5%;
}

#content #bg #photobooth #social a {
    margin-right: 10px;
}

#content #bg #photobooth #social i {
    color: #ea2224;
}

#content #audiAgenda,
#content #ask-ques,
#content #take-poll {
    background-color: #000;
    position: absolute;
    top: 32.5%;
    left: 0;
    width: 90px;
    border-radius: 0 6px 6px 0;
    text-align: center;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.12);
}

#content #audiAgenda a,
#content #ask-ques a,
#content #take-poll a {
    display: block;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    padding: 15px 10px;
}

#content #audiAgenda a:hover,
#content #ask-ques a:hover,
#content #take-poll a:hover {
    text-decoration: none;
}

#content #audiAgenda i,
#content #ask-ques i,
#content #take-poll i {
    display: block;
    margin-bottom: 5px;
}

#content #ask-ques,
#content #take-poll {
    left: auto !important;
    right: 0;
    top: 32.5%;
    border-radius: 6px 0 0 6px !important;
}

#content #take-poll {
    top: calc(32.5% + 100px);
}

#content .panel {
    position: absolute;
    top: 60px;
    right: -300px;
    width: 300px;
    height: calc(100vh - 100px);
    cursor: pointer;
    background-color: #adb5bd;
    font-size: 1em;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    overflow-y: auto;
}

#content .panel .panel-heading {
    background-color: #212529;
    text-transform: uppercase;
    padding: 5px 10px;
    position: relative;
    font-size: 1.25em;
    color: #EEEEEE;
}

#content .panel .panel-heading .close {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 1em;
    color: #ccc;
    background-color: #c00;
    padding: 2px 4px 3px 4px;
}

#content .panel .panel-content {
    padding: 10px;
}

#content .panel .panel-content .form-check-input {
    margin-left: 0 !important;
}

#content .panel.show {
    right: 0 !important;
}

.modal {
    outline: 0;
}

.modal#attendees .modal-dialog,
.modal#confAgenda .modal-dialog {
    width: 90% !important;
    max-width: 800px !important;
    height: 80vh;
    max-height: 600px;
}

.modal .search-area form .input {
    width: 100%;
}

.modal .modal-dialog {
    width: 80%;
    max-width: 650px;
    height: 70vh;
    max-height: 600px;
}

.modal .modal-dialog .modal-content {
    border: 0;
}

.modal .modal-dialog .modal-content .modal-header {
    background-color: #072d45;
}

.modal .modal-dialog .modal-content .modal-header h5.modal-title {
    margin: 0;
    font-size: 1.25em;
    color: #fff;
}

.modal .modal-dialog .modal-content .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    background-color: #c00;
    color: #fff;
}

.modal .modal-dialog .modal-content .modal-header .close:focus {
    outline: none !important;
}

.modal .modal-dialog .modal-content .modal-body {
    padding: 0em;
    color: #616161;
    background-color: #F5F5F5;
    /*min-height: 50vh;*/
}

.modal .modal-dialog .modal-content .modal-body iframe {
    width: 100%;
    height: 100%;
}

.modal .modal-dialog .modal-content .modal-body .search-area {
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 10px;
}

.modal .modal-dialog .modal-content .modal-body .search-area button {
    border: 1px solid #ccc;
    padding: 4px 12px;
    margin: 0 5px 0 0;
    border-radius: 4px;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList {
    border: 1px solid #e0e0e0;
    padding: 0;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee {
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee .attendee-actions {
    position: absolute;
    top: 7px;
    right: 10px;
}

.modal .modal-dialog .modal-content .modal-body #attendeeList .attendee .attendee-actions button {
    border: none;
    background-color: #BDBDBD;
    padding: 4px 8px;
    color: #EEEEEE;
}

.modal .modal-dialog .modal-content .modal-body .content {
    /* min-height: 30vh; */
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    width: 95%;
    margin: 10px auto;
}

.modal .modal-dialog .modal-content .modal-body .content a {
    color: #007cb0;
}

.modal-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0px solid #ccc;
    height: 40px;
    margin-bottom: 5px;
}

.modal-tabs:before {
    display: table-cell;
    content: '';
}

.modal-tabs li {
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
}

.modal-tabs li a {
    color: #797878;
    padding: 18px 25px;
}

.modal-tabs li.active {
    border-top: 2px solid #232f3e;
    background-color: #EEEEEE;
}

.modal-tabs li.active a {
    color: #464646;
    font-weight: 600;
}

ul#pollResults {
    margin: 0;
    padding: 0;
}

ul#pollResults li {
    display: block;
    border: solid 1px #ddd;
    padding: 14px;
    margin-bottom: 10px;
    position: relative;
    z-index: 0;
}

ul#pollResults li .perc-back {
    background: #d2dfe5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    z-index: -1;
}

ul#pollResults li label {
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
}

ul#pollResults li .perc-number {
    float: right;
}

.e-card {
    width: 100%;
}

.e-card .ecard {
    background-color: #29396f;
    padding: 40px;
    border-radius: 12px;
    position: relative;
    color: #fff;
    -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.45);
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.45);
}

.e-card .ecard .name {
    font-size: 1.75em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 40px;
    text-shadow: 2px 2px 3px #000;
    text-transform: uppercase;
}

.e-card .ecard .info {
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 50px;
}

.e-card .ecard .info2 {
    font-size: 1em;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

@media only screen and (max-width: 770px) {
    #audiAgenda,
    #ask-ques,
    #take-poll {
        top: 25.5% !important;
        width: 100px !important;
    }
    #audiAgenda a,
    #ask-ques a,
    #take-poll a {
        font-size: 1em !important;
        padding: 8px 4px !important;
    }
    #audiAgenda i,
    #ask-ques i,
    #take-poll i {
        margin-bottom: 5px;
    }
    #ask-ques,
    #take-poll {
        top: 32.5%;
        border-radius: 6px 0 0 6px !important;
    }
    #take-poll {
        top: calc(22.5% + 80px) !important;
    }
    .panel {
        right: -200px !important;
        width: 200px !important;
        font-size: 0.8em !important;
    }
    .panel .panel-heading {
        padding: 5px 10px;
        font-size: 1em;
    }
    .panel .panel-heading .close {
        right: 10px;
        top: 7px;
        font-size: 1em;
        padding: 2px 4px 3px 4px;
    }
    .panel .panel-content {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    #bg {
        background-size: 100% 100% !important;
        background-image: url(../img/Best.png);
        background-position: top left;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* background-size: cover; */
    }
    .video {
        margin-top: 30px;
    }
    .small_logo {
        text-align: center !important;
    }
    .text_field {
        margin-top: 10px !important;
    }
}

@media (min-width: 768px) {
    #bg {
        background-image: url(../img/Best.png);
        background-position: top left;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* background-size: cover; */
        background-size: 100% 100% !important;
    }
}


/*# sourceMappingURL=styles.css.map */