@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

$pri-color: #e73f8c;

html, body {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
}

.right-area-wrapper{
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 10px;
}
.reg-content{
  position: relative;
  min-height: 100vh;
  .left-art{
    position: absolute;
    top: 0;
    left: 0;
    img{
      width: 100%;
      height: auto;
    }
  }
  h5{
    color: #6f6f6f;
    text-align: center;
  }
}

form{
  color: #333;
  label{
      text-transform:uppercase;
      font-weight:500;
      display:block;
  }
  .input{
      background-color: #eaecef;
  border-radius: 1px;
  width: 100%;
  border: 0;
  padding: 10px;
  font-size:1em;
  }
  [type=submit]{
      border:0;
      border-radius:0;
  }
  [type=checkbox]{
      margin-right:5px;
  }
  .btn-submit{
      background-image:url(../img/btn-bg.jpg);
      width:96px;
      height:41px;
      color:#fff;
  }
  .divider{
      border-top: 2px solid #e4e4e4;
  }
  .lower{
      text-transform:capitalize !important;
  }
  .form-cancel{
      img{
          vertical-align:top;
      }
          
  }
  sup.req{
      color: #c00;
  }
  
  .btn-register{
      background-image:url(../img/btn-register.jpg);
      width:96px;
      height:41px;
  }
  .btn-submit{
      background-image:url(../img/btn-submit.jpg);
      width:96px;
      height:41px;
  }
  #btnLogin{
      background-image:url(../img/btnLogin.jpg);
      width:96px;
      height:41px;
  }
}



        /* Customization Style of SyoTimer */
        .syotimer{
            text-align: center;

            margin: 30px auto 0;
            padding: 0 0 10px;
        }
        .syotimer-cell{
            display: inline-block;
            margin: 0 5px;

            width: 79px;
            background: url(../img/timer.png) no-repeat 0 0;
        }
        .syotimer-cell__value{
            font-size: 35px;
            color: #ffffff;

            height: 81px;
            line-height: 81px;

            margin: 0 0 5px;
        }
        .syotimer-cell__unit{
            font-size: 12px;
            text-transform: uppercase;
        }

        .option{
            font-weight: 700;
        }

        
        